.container-pagination {
    display: flex;
    justify-content: center;
    color: black;
    list-style: none;
    cursor: pointer;
    padding: 0;
}

.container-pagination__item {
    margin-right: 1px;
    min-width: 40px;
    padding: 8px 0;
    background-color: #ccc;
    border-radius: 4px;

}

.container-pagination__link {
    min-width: 40px;
    padding: 8px 16px;
    /* background-color: aqua; */
}

.pagination-active {
    background-color: #54b355;
    color: #fff;
}

@media (max-width: 740px) {
    .container-pagination {
        flex-wrap: wrap;
        padding: 0;
    }
    .container-pagination__item {
        margin: 1px 1px;
        min-width: 30px;
        padding: 8px 0;
    
    } 
}