.card {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    /* background-color: #ccc; */
}

/* .wide {
    width: 1140px;
}

@media (min-width:741px) and (max-width: 1023px) {
    .wide {
        max-width: 644px;
    }
} */