.chapter-film {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px;
}

.chapter-film li {
    display: flex;
    list-style: none;
    padding: 6px 16px;
    margin: 0 6px 12px;
    background-color: #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.chapter-film li.chapter-film--focus {
    background-color: #54b355;
    color: #fff;

}

@media (max-width: 740px) {
    .chapter-film {
        padding: 4px;
        margin: 4px;
    }
    .chapter-film li {
        padding: 6px 8px;
        margin: 8px 6px;
    }
}