footer {
  background-color: #0c2738;
  max-height: 140px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  transition: all 0.4s ease-in-out;
  position: relative;
  /* padding: 15px 0; */
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #ccc;
  background-color: transparent !important;
  margin-bottom: 10px;
  align-items: center;
}

.footer h2 {

}

.footer__list {
  list-style: none;
  margin: 8px 24px;
  padding: 0;
  background-color: transparent !important;
}

.footer h2 {
  cursor: pointer;
}

.footer__list li {
  display: flex;
  padding: 4px 0;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.footer__list li i {
  margin-right: 4px;
}

.footer__info {
  display: block;
  padding: 0 0 15px;
}

.scroll-top {
  display: flex;
  position: fixed;
  bottom: 70px;
  right: 70px;
  width: 35px;
  height: 35px;
  background-color: rgb(189, 187, 187);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: scrollTop 1s ease-out;
  animation-iteration-count: infinite;
}

@media (max-width: 740px) {
  .scroll-top {
      right: 20px;
      bottom: 80px;
  }
  .footer__list {
    display: none;
  }
}

@keyframes scrollTop {
  0% {
      transform: translateY(10px);
  }
  
  100% {
      transform: translateY(0);
  }
}